{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    
    <div class="mx-auto" style="width: 500px; margin-top: 160px"> 
        <h3>Reset your password</h3>
        <br>
        
            {{ form_start(resetForm) }}
                <div class="form-group"> 
                    {{ form_row(resetForm.plainPassword) }}
                </div>

                <button class="btn btn-primary">Reset password</button>
            {{ form_end(resetForm) }}
        
            
    </div>
{% endblock %}
