{{ form_start(form) }}

    {{ form_row(form.name, {
                    label: 'Name : ', 
                    'attr': {'class': 'form-control'}},
                    ) }}

    <br>
    <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
