{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}

    <br>
    <h1>Your modules :</h1>
    <br>

    <a href="{{ path('app_modules_new') }}" class="btn btn-secondary">Create new</a>
    <br>
    <br>

    <div class="container">
    <div class="row">

    {% for module in modules %}

        <div class="card bg-light text-dark border-light col-md-6" style="max-width: 18rem; margin: 1.5em">
            <div class="card-header">{{ module.name}}</div>
            <div class="card-body">
                <a href="{{ path('app_notes_module', {'id': module.id}) }}" class="btn btn-secondary">show</a>
                <a href="{{ path('app_modules_edit', {'id': module.id}) }}" class="btn btn-secondary">edit</a> 
            </div>
        </div>

        {% else %}
            <p colspan="3" class="font-italic">no records found</p>
        {% endfor %}

    </div>
    </div>


{% endblock %}
