{% extends 'base.html.twig' %}

{% block title %}Create Module{% endblock %}

{% block body %}

    <h1>Create new Module :</h1>

    {{ include('modules/_form.html.twig') }}
    
    <br>
    <a href="{{ path('app_modules_index') }}" class="btn btn-secondary">back to list</a>

{% endblock %}